#about {
    height: 100vh;
}

#arrow {
    font-size: 36px;

    position: absolute;
    color: var(--highlight-1);

    bottom: 15px;
    left: 0;
    right: 0;
    margin: 0 auto;

    animation: arrow-intro var(--intro-third) ease 
        calc(var(--intro-first) + var(--intro-second));
    animation-fill-mode: backwards;
}

#about-text {
    position: relative;
    max-width: 630px;
    height: 100%;
    
    margin: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

@keyframes arrow-intro {
    0% {transform: translateY(calc(15px + 36px))}
}

@media only screen and (max-width: 992px) {
    #arrow {display: none;}
}