header {
    box-sizing: border-box;

    position: fixed;

    width: 100%;

    background-color: var(--dark);
    font-size: 24px;
    height: 54px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;

    padding: 0 24px;

    z-index: 1000;

    animation: header-intro var(--intro-third) ease 
        calc(var(--intro-first) + var(--intro-second));
    animation-fill-mode: both;
}

#name-link {
    white-space: nowrap;
}

#dropdown-links {
    position: absolute;
    top: 54px;
    
    z-index: -10;
}

.page-links {
    display: grid;
    grid-template-columns: repeat(3, auto);
    column-gap: 32px;
}

.page-link {
    position: relative;
}

.page-link::after {
    position: absolute;
    content: '';
    top: 1.5em;
    background-color: var(--highlight-1);
    width: 0;
    
    height: 0.1em;
    left: 0;
    right: 0;
    margin: 0 auto;

    transition: 0.5s;
}

.page-link:hover::after {
    width: 100%;
}

.page-link:hover {
    font-weight: var(--semi-bold);
    color: var(--highlight-1);
}

header .side-links {
    display: flex;
}

@media only screen and (max-width: 600px) {
    #main-links {
        display: none;
    }

    .page-links {
        position: relative;
        right: 0;
        width: 100vw;

        grid-template-columns: auto;

        background-color: var(--dark);
    }

    .page-link {
        box-sizing: border-box;
        width: 100vw;
        text-align: center;
    }

    header {
        padding-left: 16px;
        padding-right: 0;
    }

    header .side-links {
        position: relative;
        flex-direction: row;
        right: 0;
        top: 0;

        justify-content: space-evenly;
        height: 2em;

        font-size: inherit;
    }

    #menu-button input:not(:checked) + .page-links {
        display: none;
    }
}

@keyframes header-intro {
    0% {transform: translateY(-54px)}
}
