#background {
    position: relative;
    width: 100vw;
    height: 400vh;
    /* background-color: #02A9F7; */
    background: linear-gradient(180deg, #ffff, #02A9F7);
    background-size: 400% 400%;

    animation: open 2s linear;
    animation-fill-mode: forwards;
}

@keyframes open {
    0% {background-position:50% 0%}
    0% {background-position:50% 25%}
    100% {background-position:50% 100%}
}

.cloud {
    position: fixed;
    background-color: white; 
}

#clouds {
    width: 100%;
    height: 100%;
    position: absolute;
}