.subpage-title {
    display: block;

    width: fit-content;
    margin: 32px auto 8px auto;
}

.subpage-title .title {
    line-height: 72px;
}

.subpage-description {
    display: block;

    width: fit-content;
    margin: 0 auto 0 auto;
}

.subpage-description .subtext-2 {
    line-height: 48px;
    text-align: center;
}

.subpage-cards {
    margin: 60px 0;
    display: flex;
    flex-direction: column;
    grid-row-gap: 60px;
    row-gap: 60px;
}

.subpage-card {
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-column-gap: 20px;
    column-gap: 20px;
    height: auto;
    width: 100%;
}

.subpage-card-content {
    position: relative;
    /* flex-grow: 1; */
}

.subpage-card-content .subpage-card-content-inner {
    object-fit: cover;
    height: 100%;
    width: 100%;
    right: 0;
    border-radius: 8px;
}

.subpage-card-content canvas {
    /* override the inline html css */
    height: 100%!important;
    width: 100%!important;
}

.subpage-card-text {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.subpage-card-title {
    width: fit-content;

    font-size: 54px;
    line-height: 54px;
    font-weight: var(--semi-bold);

    margin-bottom: 8px;
}

.subpage-card-description {
    color: var(--subtext);
    font-size: 36px;
    line-height: 40px;
}

@media only screen and (max-width: 992px) {
    /* .subpage-card-content {display: none;} */

    .subpage-card-title .title {
        font-size: 64px;
        line-height: 64px;
        margin: 0;
    }

    .subpage-cards {
        row-gap: 48px;
        margin: 48px 0;
    }

    .subpage-card {
        display: flex;
        flex-direction: column;
    }

    .subpage-card-text {
        row-gap: 10px;
    }

    .subpage-card-title {
        font-size: 32px;
        line-height: 32px;
    }

    .subpage-card-description {
        font-size: 26px;
        line-height: 26px;
    }
}